.LoginPage{
    height: 100%;
    background-color: #5260ff;
    display: flex;
    align-items: center;
    justify-content: center;
}


ion-card{
    padding: 0;
    width: 90%;
    height: 36%;
    text-align: center;
}
ion-item{
    margin-bottom: 8px;
}
ion-footer{
    padding: 0 20px;
}

.ErrorMessage{
    color: red;
    font-size: small;
}